.modal {
  text-align: center;
}
.image-area {
  padding: 20px 25px 30px 0;
}
  .image-captured {
  max-width: 100%;
  width: 750px;
  height: 400px;
}
.result-area {
  padding: 30px 25px 30px 0;
}
.tags {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}
.submit-area {
  padding: 50px 25px 30px 0;
}